<div class="row">
  <div class="col-sm-4">
    <a href="/admin/vrouter/vroutertenant/" class="btn btn-primary">vRouter Tenants</a>
  </div>
  <div class="col-sm-4">
    <a href="/admin/vrouter/vrouterapps/" class="btn btn-primary">vRouter Apps</a>
  </div>
  <div class="col-sm-4">
    <a href="/admin/vrouter/vrouterdevices/" class="btn btn-primary">vRouter Devices</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href="/admin/vrouter/vrouterports/" class="btn btn-primary">vRouter Ports</a>
  </div>
  <div class="col-sm-4">
    <a href="/admin/vrouter/vrouterinterfaces/" class="btn btn-primary">vRouter Interfaces</a>
  </div>
  <div class="col-sm-4">
    <a href="/admin/vrouter/vrouterips/" class="btn btn-primary">vRouter Ips</a>
  </div>
</div>